.containerStyle {
  background-color: #dcdcdc;
  color: black;
  padding: 20px;
  text-align: center;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emojiStyle {
  font-size: 10rem;
}

.font30px {
  font-family: cursive;
  font-size: 30px;
}
.font25px {
  font-family: cursive;
  font-size: 25px;
}
