.showDialog {
  border: 5px solid #0078d4;
  width: max-content;
  padding: 10px;
  border-radius: 20px;
  background: #dcdcdc;
  font-size: 15px;
  cursor: pointer;
  margin: 15px;
  font-family: auto;
  color: black;
}
.dialogOpener{
  position: fixed;
  bottom: 5px;
}
.buttonDialog {
  display: flex;
  justify-content: center;
}
.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 0px;
}
.inputText {
  padding: 3px;
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  border-radius: 10px;
  margin-left: 12px;
}
.dialogContainer {
  border-radius: 8px;
  background-color: #9fcff9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px;
  height: -webkit-fill-available;
  overflow: scroll;
  overflow-x: hidden;
}
.allergyText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin: 0px;
  display: flex;
  padding: 10px;
}
.actionButtons {
  display: flex;
  gap: 100px;
}
.infoDiv {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
.dialogContainer {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

.dialogContainer::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

.dialogContainer::-webkit-scrollbar-track {
  background: transparent; /* Set to the same color as your background */
}

.dialogContainer::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set to the same color as your background */
  border: none; /* Optional: remove the border for a cleaner look */
}
