.appContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-weight: 600;
  font-style: italic;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 15px;
}
